    <NavTop></NavTop>

    <div class="card-block bg-info">
    <h4 class="text-white card-title">My Stock</h4>
    <div class="col-md-8 col-md-offset-2">
        <h5 class="m-t-30 text-white">
        <span class="pull-right">50%</span>
        </h5>
        <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%; height:6px;">
            <span class="sr-only">50% Complete</span>
        </div>
        </div>
    </div>
    </div>

    <div class="message-box contact-box scrollbar-deep-gray bordered-deep-gray thin" style="height:72vh;overflow-y: auto;">
    <span *ngIf="showSpinner">
        <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </span>

    <span *ngIf="items; then data else noData"></span>
    <ng-template #data>
        <div class="message-widget contact-widget" *ngFor="let item of items | async" (mouseleave)="showshowButton()">

        <a *ngIf="item.name!==null" style="cursor:pointer" (click)="openModal(item.itemid)" (mouseenter)="showhideButton(item.itemid)"
            (mousedown)="showhideButton(item.itemid)" (mouseup)="showhideButton(item.itemid)">

            <div class="user-img">
            <span class="round" style="text-transform:uppercase">{{item.name.charAt(0)}}</span>
            <span *ngIf="item.source=='Online'" class="profile-status  online pull-right"></span>
            <span *ngIf="item.source=='Local'" class="profile-status offline  pull-right"></span>
            </div>
            <div class="mail-contnet">
            <h5>{{item.name}}</h5>
            <span class="mail-desc">{{item.category}}
                <b *ngIf="item.price!==null"> - {{item.price}} Rwf(Price)</b>
                <b *ngIf="item.price!==null || item.stock_quantity!==null"> - {{item.price*item.stock_quantity}} Rwf(Amount)</b>
                <b *ngIf="item.price!==null || item.stock_quantity!==null"> - {{item.price*item.stock_quantity-item.price*item.sold_quantity}} Rwf(Sold Amount)</b>
                (
                <b *ngIf="item.sold_quantity!==null || item.stock_quantity!==null"> Out Qty {{item.sold_quantity}} / In Qty {{item.stock_quantity}}</b>)
            </span>
            <span class="mail-desc" *ngIf="item.expiry_date">Exp date,{{item.expiry_date}}</span>
            <span class="mail-desc" *ngIf="item.sold_quantity!==null || item.stock_quantity!==null">
                <span class="pull-right">{{percentage}}
                </span>

                <div class="progress">

                <div [ngClass]="getClass(item.sold_quantity,item.stock_quantity)" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100" [style.width]="getWidth(item.sold_quantity,item.stock_quantity)" [style.height]="getHeight()">

                </div>

                </div>
            </span>
            </div>
            <div class="pull-right" *ngIf="item.itemid==showbtnbyitemid">

            <button data-toggle="tooltip" title="Remove {{item.name}} item in stock" (click)="openModal(item.itemid)" [disabled]="item.sold_quantity==0"
                class="btn btn-circle btn-sm btn-default waves-effect waves-dark" style="margin-padding:10px">
                <i class="mdi mdi-minus"></i>
            </button>
            <button data-toggle="tooltip" title="Add {{item.name}} item in stock" (click)="onIncreaseItems(item.itemid)" class="btn btn-circle btn-sm btn-success waves-effect waves-dark"
                style="margin-padding:10px">
                <i class="mdi mdi-plus"></i>
            </button>

            <button data-toggle="tooltip" title="Edit {{item.name}} item" (click)="onEditItem(item.itemid)" class="btn btn-circle btn-sm btn-primary waves-effect waves-dark"
                style="margin-padding:10px">
                <i class="mdi mdi-border-color"></i>
            </button>

            <button data-toggle="tooltip" title="Delete {{item.name}} item" (click)="onRemoveItem(item.itemid)" class="btn btn-circle btn-sm btn-danger waves-effect waves-dark"
                style="margin-padding:10px">
                <i class="mdi mdi-close"></i>
            </button>

            </div>

            <modal id="model-{{item.itemid}}">
            <div class="flippermodalDialog">

                <div class="modal-sm">
                <div class="modal-content">

                    <div class="modal-body">

                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <table>
                        <tr>

                            <th colspan="2">
                            <label> Add item quantity to cart </label>
                            <input type="number" placeholder="Add quantity" value="1" class="form-control form-control-line" [(ngModel)]="num_stock_quantity"
                                name="num_stock_quantity" required autofocus>

                            </th>
                        </tr>
                        <tr>
                            <td>
                            <button type="submit" class="btn btn-info" (keyup.enter)="AddCart(item);" (click)="AddCart(item);">Add Cart</button>

                            </td>
                            <td>
                            <button type="button" class="btn btn-secondary" (click)="closeModal(item.itemid);">Close</button>

                            </td>
                        </tr>
                        </table>
                    </div>

                    </div>

                </div>
                </div>
            </div>

            <div class="flippermodal-background"></div>
            </modal>

        </a>

        </div>
    </ng-template>
    <ng-template #noData> No items could found! </ng-template>
    <button style="z-index:1000" type="button" data-toggle="tooltip" title="Add new item" routerLink="addItems" class="btn btn-circle btn-sm btn-success waves-effect waves-dark pull-right">+</button>
    </div>


    <Footer></Footer>
