  <main style="background:#eee; height:100%">
    <div class="container">
        <!--Section: Features v.3-->
        <section class="section feature-box pt-10" style="margin-top:11%">
    
        <!--Section heading-->
        <h2 class="section-heading pt-5"></h2>
     
        <div class="row features-small" style="height:100%">
    
            <!--Grid column-->
            <div class="col-lg-6 mb-r center-on-small-only text-left">
                <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/ipad-portfolio2.png" alt="" class="img-fluid z-depth-0">
                
              </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-6 text-left">
                  
                       <div class="card" style="width:75%;height:400px;">
                        <div class="card-body">
                         <!-- Subscription form -->
                          <form>
                              <p class="h5 text-center mb-4 mt-5">Sign in</p>
                            
                              <div class="md-form mt-5">
                                <i class="fa fa-user prefix grey-text"></i>
                                <input type="text" id="subscriptionFormName" class="form-control" mdbInputDirective>
                                <label for="subscriptionFormName">Your name</label>
                              </div>
                            
                              <div class="md-form mt-5">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input type="email" id="subscriptionFormEmail"  class="form-control" mdbInputDirective>
                                <label for="subscriptionFormEmail">Your email</label>
                              </div>
                            
                              <div class="text-center mt-5">
                                <button class="btn btn-blue waves-light" mdbWavesEffect>Login
                                </button>
                              </div>
                            </form>
                        </div>
                       </div>
                    
              
                            
              
            </div>
            <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
    </section>
  
  
  
    </div>
  
     <!--Footer-->
  <!-- <footer class="page-footer">
      
          <div class="footer-copyright text-center py-3">
              <div class="container-fluid text-black">
                  © 2018 Copyright: <a href="#"> Flipper </a>
              </div>
          </div>
  
  </footer> -->
      <!--/.Footer-->
      
                        
  </main>