<div class="row" style="height:auto;background:#fff;">
        
          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4" style="margin-top:-0.5%;
          height: 100%;
          top: 0px; bottom: 0px;  left: 0px;
          padding-top:10px;">
                 
            <div class="card-block">
                       
                        <h4 class="card-title pull-left" style="text-align:center;margin-top:1%;margin-left:5%">Add New Item</h4> <div class="pull-right">
                                <button type="button" (click)="onGoBack()"  class="btn btn-circle btn-lg btn-default waves-effect waves-dark">  <i class="mdi mdi-close"></i></button>
                            </div> 
                        
            </div>
            <div class="card-block">
                <br />
                <div class="form-horizontal form-material">

                                <div *ngIf="createdCode" class="row clearfix form-group">
                                        <input type="text" hidden="hidden" placeholder="MY QR Code data" value="{{qrData}}" [(ngModel)]="qrData">
                                        <div class="col-md-6 col-md-offset-3">
                                        <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
                                         </div>
                                       
                                </div>
                                    <div class="row clearfix form-group">
                                         
                                            <label class="col-md-4">Item name:</label>
                                            <input type="text" placeholder="Enter item name" class="form-control form-control-line col-md-8" [(ngModel)]="item.name" name="name">
                                      
                                    </div>
                               
                                <div class="row form-group">
                                        <label class="col-md-4">Price:</label>
                                        <input type="number" placeholder="Enter price" class="form-control form-control-line col-md-5" [(ngModel)]="item.price" name="price">
                                        <select class="form-control form-control-line col-md-3" placeholder="Choose Currency"  [(ngModel)]="item.currency">
                                                   <option value="Rwf">Rwf</option>
                                                   <option value="$">$ (USD)</option>
                                                   <option value="€">€ (EURO)</option>
                                                   <option value="£">£ (POUND)</option>
                                               </select>
                                 </div>
                    
                                <div class="row form-group">
                                        <label class="col-md-4">Quantity:</label>
                                        <input type="number" placeholder="Enter number of items(Quantity)" class="form-control form-control-line  col-md-5" [(ngModel)]="item.stock_quantity" name="stock_quantity">
                                        <select class="form-control form-control-line col-md-3" placeholder="Choose Unit"  [(ngModel)]="item.unit">
                                                <option>None</option>
                                                 <option>Kg</option>
                                                 <option>G</option>
                                                 <option>Litre</option>
                                             </select>
                                </div>
                                  

                                    <div class="row clearfix form-group">
                                            <label class="col-md-4">Expired date:</label>
                                            <input type="date"  class="form-control form-control-line  col-md-8" placeholder="Expired Date" name="expiry_date" [(ngModel)]="item.expiry_date">

                                       </div>  
                                      
                             
                               
                                <div class="row clearfix">
                                        <label class="col-md-4">Category:</label>
                                        <select class="form-control form-control-line col-md-8" [(ngModel)]="item.category">
                                            <option>Choose Category</option>
                                            <option>Food</option>
                                            <option>Tea</option>
                                            <option>Coffe</option>
                                        </select>
                                      
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <span *ngIf="isNull">

                                            <div class="alert alert-danger alert-dismissable">
                                            <a class="close" (click)="onClose()">&times;</a>
                                                            
                                            <span *ngIf="isnameNull">* Please, item name is required!<br /></span>
                                            <span *ngIf="ispriceNull">* Please, item price is required! <br /></span>
                                            <span *ngIf="isstock_quantityNull">* Please,number of items(Quantity) is required!<br /></span>
                                            <span *ngIf="iscategoryNull"> * Please, choose category!<br /></span>
                                            <span *ngIf="iscurrencyNull"> * Please, choose currency!<br /></span>
                                            <span *ngIf="isunitNull"> * Please, choose uint!<br /></span>
                                            </div> 
                                        </span>
                                        <button class="col-sm-12 btn btn-info btn-sm" (click)="onSaveItem()" >Save</button>
                                    </div>
                                   
                                </div>
                        </div>
                </div>
          </div>
        
          <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8" style="height: 100%;
           top: 0px; bottom: 0px;  left: 0px;border-left:solid thin #ccc">
        
             <ListItems></ListItems>

              </div>
           
        
        </div>
        
            